.editor {
  display: flex;
  flex-direction: column;
}

.pages {
  width: 100vw;
  margin: 16px auto;
  overflow-x: auto;
}

.lines {
  width: 100%;
  float: left;
}

@media print {
  @page {
    margin: 0 !important;
  }

  .section-wrapper {
    outline: none;
  }

  .navbar,
  .toolbar,
  .placeholder {
    display: none;
  }
}
