.editor {
  display: flex;
  flex-direction: column;
}

.pages {
  margin: auto;
}

.page {
  min-width: 210mm;
  height: 297mm;
  outline: 1px solid #c7c7c7;
  margin: 16px auto;
  break-after: page;
}

.lines {
  width: 100%;
  float: left;
}

@media print {
  @page {
    margin: 0;
  }

  .section-wrapper {
    outline: none;
  }

  .navbar, .toolbar, .placeholder {
    display: none;
  }

  .pages {
    outline: none;
    display: block!important;
    overflow:visible!important;
    height:auto!important;
    position:static!important;
  }
}
