.line-group {
  width: 100%;
}

.line-container {
  position: relative;
  display: flex;
  border-radius: 8px;
}

.line-container.hoverable:hover {
  background: #e0e0e0;
}

.line-container.selected {
  border-radius: 6px;
}

