.line-wrapper {
  width: 100%;
  position: relative;
}

.line-wrapper.selectable {
  cursor: pointer;
}

.chord-layer {
  position: sticky;
}

.chord {
  position: absolute;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
/*  transform: translateX(-50%); */
}

.text-layer {
  width: 100%;
  white-space: pre;
  margin-top: 1.2em;
}

.text-layer .placeholder {
  color: #808080
}

.letter:hover {
  background-color: #ffff05;
  cursor: pointer;
}

