.section-wrapper {
    width: 100%;

    display: grid;
}

.section-wrapper.selectable {
    outline: 1px solid var(--border);
    cursor: pointer;
}

.section-wrapper.selectable:hover {
    background-color: var(--neutral-100);
}

.section-divider {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.section-divider-line {
    width: 2px;
    border-radius: 4px;
    background-color: var(--neutral-300);
    height: 90%;
    transition: background 0.15s;
}

.section-divider:hover .section-divider-line {
    position: absolute;
    height: 100%;
    background-color: var(--primary-300);
    inset: 0 -1px;
    width: 4px
}

.section-divider-detect {
    position: absolute;
    inset: 0 -6px;
    width: 14px;
    cursor: col-resize;
    touch-action: none;
}

.section-divider button {
    position: absolute;
    margin: auto;
    inset: 0px -16px;

    height: 32px;
    padding: 0;
    transition: opacity 0.15s;
    opacity: 0;
    pointer-events: none;

    z-index: var(--z-linegroup-divider);
}

.section-divider:hover button {
    opacity: 1;
    pointer-events: auto;
}
