.section {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.section.selectable {
    cursor: pointer;
}

.section.selectable:hover {
    background-color: #e0e0e0
}
