.document-list-body {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    gap: 16px;
}

.list-top-bar {
    width: 80vw;
    margin: auto;
}

.document-create {
    float: right;
    background-color: var(--primary-500);
    color: white;

    padding: 8px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;

    transition: background-color 0.1s, color 0.1s;
}

.document-create:hover {
    background-color: var(--primary-600);
}

.document-create:focus {
    background-color: var(--primary-600);
    outline: 3px solid var(primary-500);
}

.document-list {
    width: 80vw;
    margin: 0px auto;
    padding: 0px;
    border: 1px solid #a0a0a0;
    border-radius: 16px;
    list-style: none;
    overflow: hidden;
}

.document-list-title {
    padding: 0 32px;
    display: flex;
    align-items: center;
    font-weight: 500;

    border-bottom: 1px solid #a0a0a0;
}

.document-empty-item {
    width: 100%;
    display: flex;
    padding: 8px;
    justify-content: center;
    color: var(--color-text-muted);
    font-style: italic;
}

.document-list-title-name {
    margin: 8px 16px;
}

.document-item {
    width: 100%;
    padding: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;

    transition: background-color 0.02s;
}

.document-item:not(:last-child) {
    border-bottom: 1px solid #a0a0a0;
}

.document-item:hover:not(:has(button:hover)) {
    background-color: var(--primary-200);
    cursor: pointer;
}

.document-item-icon {
    color: var(--primary-500);
}

.document-item-name {
    width: 45%;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.document-item-title {
    font-weight: 400;
}

.document-item-artist {
    font-size: 0.9em;
    font-weight: 300;
    font-style: italic;
}

.document-delete-button {
    height: 100%;
    margin-left: auto;
    padding: 0.2em 0.4em;
    background: none;
    color: red;
}

.document-delete-button:hover {
    background-color: oklch(from red calc(l + 0.3) calc(c - 0.2) h);
}

.document-delete-button:active {
    background-color: oklch(from red calc(l + 0.3) calc(c - 0.2) h);
    outline: 2px solid red;
}
