.ps-modal-overlay {
    position: fixed;
    z-index: var(--z-modal);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.ps-modal-box {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    min-width: 20vw;
    max-width: 480px;
}

.ps-modal-header {
    display: flex;
    align-items: center;
}

.ps-modal-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.ps-modal-close {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    background-color: rgb(240, 230, 230);

    transition: border-color 0.1s, background-color 0.1s, color 0.1s;
}

.ps-modal-close:hover {
    border-color: red;
    color: red;
}

.ps-modal-divider {
    margin-top: 16px;
    margin-bottom: 16px;
}

.ps-modal-items div {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ps-modal-items div > * {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ps-modal-items div span {
    font-weight: 500;
}

.ps-modal-items div :is(select, input) {
    padding: 8px;
    width: 100%;
    font-size: 1rem;
}

.ps-modal-items .margin-inputs {
    display: flex;
    gap: 16px;
    width: 100%;
    padding: 0;
}

.margin-inputs div {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.margin-inputs div span {
    color: #bcb6ae
}
