.toolbar {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--neutral-100);
    border-bottom: 1px solid var(--neutral-400);
    box-shadow: 0 8px 16px -4px var(--primary-200);
    z-index: var(--z-toolbar);

    display: flex;
}

.toolbar * {
    font-size: 0.9rem;
}

.toolbar button {
    height: 100%;
    padding: 0.2em 0.4em;
    background: none;
}

.toolbar button:hover {
    background-color: var(--primary-200);
}

.toolbar input,
.toolbar select {
    padding: 0 0.4em;
    height: 2.4em;
    background: none;
    border-radius: 8px;
    border: 1px solid var(--primary-500);
}

.toolbar input:hover,
.toolbar select:hover {
    background-color: var(--primary-100);
}

.toolbar select {
    cursor: pointer;
}

.toolbar-contents {
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.toolbar-contents>div {
    height: 100%;

    display: flex;
    align-items: center;
    padding: 0 0.5em;
    gap: 0.6em;
}

.toolbar-divider {
    height: 2.5em;
    margin: 0;
}

.toolbar-settings-button {
    display: flex;
    align-items: center;
    gap: 0.3em
}

.toolbar-chords {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
