.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-link {
  color: black;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  transition: background-color 0.1s, color 0.2s;
}

.navbar-link:hover {
  color: white;
  background-color: var(--primary-500);
}

.navbar-link:focus {
  outline: none;
}

.navbar-login {
  float: right;
}
