.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f6f6f6;
}

.navbar-link {
  color: black;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navbar-login {
  float: right;
}

.navbar li {
  transition: background-color 0.1s;
}

.navbar li:hover {
  background-color: #e0e0e0;
}
